
@{
    ViewBag.Title = "View";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <h2>BookAddView</h2>

    <div>
        <h3>Форма добавления книги</h3>
        <form method="post" action="">
            @*<input type="hidden" value="@ViewBag.BookId" name="BookId" />*@
            <table>
                <tr>
                    <td><p>Введите Название</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Введите Цену</p></td>
                    <td>
                        <input type="text" name="Price" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>