
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <h2>CheckInputViewer</h2>

    <div>
        <h3>Список покупок</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введите ваше имя</p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
